:root {
  --primary: white;
  --light: #15151a;
  --dark: rgb(0, 108, 122);
  --border_rad_px: 12px;
  --cl_lang_bg: lemonchiffon;
}

.about-flex {
  display: flex;
  flex-direction: column;
}

div > img {
  display: flex;
  justify-items: stretch;

  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;

  border-radius: var(--border_rad_px);
  border-style: none;
}

/*#######################-SCROLLMENU-#####################################################################*/
.scroll_menu {
  display: flex;
  flex-direction: row;

  border-left: 3px solid var(--dark);
  border-right: 3px solid var(--dark);

  border-radius: var(--border_rad_px);

  overflow: auto;
}

.scroll_menu > .test-item-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;

  gap: 10px 10px;

  grid-template-areas:
    "test-img-l1 test-subheader_1 test-subheader_1 test-img-r1"
    "test-img-l1 test-text_1 test-text_1 test-img-r1"
    "test-img-l2 test-text_1 test-text_1 test-img-r2"
    "test-img-l2 test-text_1 test-text_1 test-img-r2";
}

.test-item-container {
  min-height: 100px;
  max-height: 500px;
  min-width: 800px;

  margin-bottom: 10px;

  border-style: none;
  border-radius: var(--border_rad_px);
}

.test-item-container {
  margin-right: 50px;
}

.test-item-container:first-child {
  margin-left: 40px;
}

.test-img-l1 {
  grid-area: test-img-l1;
}

.test-img-l2 {
  grid-area: test-img-l2;
}

.test-img-r1 {
  grid-area: test-img-r1;
}

.test-img-r2 {
  grid-area: test-img-r2;
}

.test-img-l1,
.test-img-l2,
.test-img-r1,
.test-img-r2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-subheader_1 {
  grid-area: test-subheader_1;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
  font-size: 150%;

  border-radius: var(--border_rad_px);
  border-style: none;
}

.test-text_1 {
  grid-area: test-text_1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  background-color: var(--light);
  color: var(--dark);
  font-weight: 600;
  font-size: 100%;

  border-color: var(--dark);
  border-style: solid;
  border-radius: var(--border_rad_px);
}

.test-text_1 > ul > li > p > a {
  color: gray;
}

.test-text_1 > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 10px;
  padding: 10px;
}

.CAE-link {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light);

  text-align: center;

  border-color: var(--dark);
  border-style: solid;
  border-radius: var(--border_rad_px);
}

.CAE-link > a {
  color: gray;
}

/*SCROLL CONTAINER SCROLLBAR*/

.scroll_menu::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

.scroll_menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll_menu::-webkit-scrollbar-thumb {
  background-color: var(--dark);

  border-radius: 12px;
}

/*#######################-END OF SCROLLMENU-##############################################################*/

/*#######################-WRAPPER-##############################################################*/

.abt-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.abt-container {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

/*HEADER*/
.hEader {
  grid-area: HEADER;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 20px;

  background-color: var(--dark);

  font-weight: 600;
  font-size: 150%;

  border-style: none;
  border-radius: var(--border_rad_px);
}

/*IMAGE*/
.iMage {
  grid-area: IMAGE;
  display: flex;
  justify-content: center;

  padding: 20px;

  background-color: var(--cl_lang_bg);

  border-style: none;
  border-radius: var(--border_rad_px);
}

.iMage-triple-padd {
  padding: 40px;
}

#git_img {
  max-width: 100px;
}

#windows_img {
  max-width: 70px;
  border-radius: 0px;
}

.no_rad {
  border-radius: 0px;
}

/*TEXT & LINK*/
.tExt,
.lInk {
  display: flex;

  background-color: var(--light);

  font-weight: 600;
  color: var(--dark);

  border-color: var(--dark);
  border-style: solid;
  border-radius: var(--border_rad_px);
}

/*TEXT*/
.tExt {
  grid-area: TEXT;

  align-items: center;
  justify-content: center;

  list-style: inside;
  padding: 0 10px 0 10px;

  font-size: 100%;
}

.tExt > ul > li {
  gap: 10px; /*FIX!*/
}

/*LINK*/
.lInk {
  grid-area: LINK;
  align-items: center;
  justify-content: center;

  gap: 1px;

  font-size: 100%;
}

.lInk > a {
  color: gray;
}

.abt-section {
  min-height: 300px;
  max-width: 445px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.9fr 0.1fr;

  gap: 10px;

  grid-template-areas:
    "HEADER HEADER"
    "IMAGE TEXT"
    "IMAGE LINK";
}

.iMage-double {
  display: flex;
  align-items: center;
}

.iMage-double > div:first-child {
  margin-right: 10px;
}

.iMage-triple {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.iMage-triple > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.iMage-triple > div:last-child > img {
  max-height: 87px;
}

.iMage-triple > div:last-child {
  display: flex;
  justify-content: center;
}

.abt-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  margin-top: 100px;
  margin-bottom: 30px;

  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
  font-size: 200%;

  border-style: none;
  border-radius: var(--border_rad_px);
}

/*CMDER*/

.cmder {
  align-self: center;
  margin-left: 40px;
  margin-right: 40px;

  height: 100px;
  width: 100px;
  background-image: url("../images/cmder.png");
  background-size: contain;

  transition-duration: 1s;
}

.cmder:hover {
  height: 100px;
  width: 100px;
  background-image: url("../images/freeman_classic.png");
  background-size: contain;

  transition-duration: 3s;
}

/*END OF CMDER*/

#py_header {
  background-image: linear-gradient(
    to right,
    rgb(66, 129, 179) 40%,
    rgb(255, 233, 88)
  );
}

#c_header {
  background-color: rgb(92, 107, 192);
}

#njs_header {
  background-color: rgb(104, 159, 99);
}

#HCJ_header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(
    to right,
    rgb(228, 77, 38) 5%,
    rgb(32, 98, 175) 57%,
    rgb(247, 223, 30) 100%
  );
}

#git_header {
  background-color: rgb(240, 81, 51);
}

#OS_header {
  background-image: linear-gradient(
    to right,
    rgb(0, 120, 214) 20%,
    rgb(255, 87, 34)
  );
}

#IDE_header {
  background-image: linear-gradient(
    to right,
    rgb(31, 156, 240) 10%,
    rgb(95, 182, 125)
  );
}

#cmd_header {
  background-color: rgb(140, 186, 22);
}

/*#######################-END OF WRAPPER-##############################################################*/
