:root {
  --primary: white;
  --light: #15151a;
  --dark: rgb(0, 108, 122);
  --border_rad_px: 12px;
}

.about-container {
  display: grid;
}

.about_text {
  color: var(--light);
  background-color: var(--dark);
}
