:root {
  --primary: white;
  --light: #15151a;
  --dark: rgb(0, 108, 122);
  --border_rad_px: 12px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.13fr 0.5fr 0.25fr 0.25fr 1fr 0.25fr;

  gap: 10px 10px;

  grid-template-areas:
    "Header Header"
    "Image Text"
    "Image-des Text"
    ". ."
    "Header2 Header2"
    "projname1 projname2"
    "proj-1 proj-2"
    "proj1-text proj2-text";
}

.Header {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: var(--light);
  font-weight: 600;
  text-decoration: none;

  border-radius: var(--border_rad_px);
}

div > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.Image {
  grid-area: Image;
  display: flex;
  justify-content: center;
  background-color: var(--dark);
}

.Image-des {
  grid-area: Image-des;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark);
  text-align: center;
  font-weight: 600;
  text-decoration: none;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.home-intro-text {
  grid-area: Text;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark);
  font-weight: 600;
  text-decoration: none;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.Header2 {
  grid-area: Header2;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: var(--light);
  text-align: center;
  font-weight: 600;
  text-decoration: none;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.projname1 {
  grid-area: projname1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: var(--light);
  font-weight: 600;
  text-decoration: none;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.projname2 {
  grid-area: projname2;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: var(--light);
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.proj-1 {
  grid-area: proj-1;
  display: flex;
  justify-content: center;
}

.proj-2 {
  grid-area: proj-2;
  display: flex;
  justify-content: center;
}

.proj1-text {
  grid-area: proj1-text;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.proj2-text {
  grid-area: proj2-text;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}
