:root {
  --primary: white;
  --light: #15151a;
  --dark: rgb(0, 108, 122);
  --border_rad_px: 12px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.45fr 0.5fr;

  gap: 10px 10px;

  grid-template-areas:
    "Header Header"
    "home-subcontainer home-subcontainer";
}

.home-Header_1 {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark);

  color: var(--light);
  font-weight: 600;
  text-decoration: none;
  font-size: 250%;

  border-radius: var(--border_rad_px);
}

.home-subcontainer {
  grid-area: home-subcontainer;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1.37fr 0.13fr;

  gap: 10px 10px;

  grid-template-areas:
    "Image Text"
    "Image-des Text";
}

div > img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.Image {
  grid-area: Image;
  display: flex;
  justify-items: stretch;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: transparent;

  overflow: hidden;
}

.Image-des {
  grid-area: Image-des;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light);

  color: var(--dark);
  text-align: center;
  font-weight: 600;
  font-size: large;
  text-decoration: none;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.home-intro-text {
  grid-area: Text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;

  background-color: var(--light);

  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  text-align: start;

  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: var(--dark);
}

.home-intro-text > div {
  margin: 0px 20px 0px 20px;
  font-size: large;
}

.hit {
  border-radius: var(--border_rad_px);
  border-style: solid;
  border-color: transparent;
}

.H_button_1 {
  display: inline-block;

  background-color: var(--dark);

  transition-duration: 0.4s;

  margin: 5px;
  padding: 4px 15px;

  color: var(--light);
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  border-radius: var(--border_rad_px);
}

.H_button_2 {
  display: inline-block;

  background-color: var(--dark);

  transition-duration: 0.4s;

  margin: 5px;
  padding: 4px 15px;

  color: var(--light);
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  border-radius: var(--border_rad_px);
}

.H_button_1:hover {
  background-color: white;
}

.H_button_2:hover {
  background-color: white;
}
