:root {
  --primary: white;
  --light: #15151a;
  --dark: rgb(0, 108, 122);
  --border_rad_px: 12px;
}

.projects-container {
  display: grid;
}

.projects_text {
  color: var(--light);
  background-color: var(--dark);
}
