{% extends "base.html" %} {% block title %} About {% endblock %} {% block
content%}
<div id="about-container">
  <div class="about-Header_1">About me</div>

  <!--START OF SCROLL CONTAINER-->

  <div class="scroll_container">
    <!-- <div class="sm_border_left"></div>
    <div class="sm_border_right"></div> -->
    <div class="scroll_menu">
      <!--NEXT ITEM-->
      <div class="test-item-container">
        <div class="test-img-l1">
          <!--image-->
        </div>
        <div class="test-img-l2">
          <!--image-->
        </div>
        <div class="test-subheader_1">Introduction</div>
        <div class="test-text_1">
          <ul>
            <li>
              This scroll section is an expanded version of my CV. I'd
              appreciate if you gave this section a chance, however if you don't
              have the time you can always can download my CV here.
            </li>
            <li>
              Scroll down to see what I am experienced with. If you want to see
              my work, please head over to the projects section.
            </li>
          </ul>
        </div>
        <div class="test-img-r1">
          <!--image-->
        </div>
        <div class="test-img-r2">
          <!--image-->
        </div>
      </div>
      <!--NEXT ITEM-->
      <div class="test-item-container">
        <div class="test-img-l1">
          <img src="../static/images/gamemaker.png" />
        </div>
        <div class="test-img-l2">
          <img src="../static/images/jakpw.png" />
        </div>
        <div class="test-subheader_1">My coding and programming experience</div>
        <div class="test-text_1">
          <p>
            I have been programming ever since elementary school, where my best
            friend and I coded some simple games in gamemaker. Our masterpiece
            was a simple 2D version of minecraft, something like Terraria,
            except it was a platformer. During last year of my elementary school
            I learned some HTML.
          </p>
          <p>
            Back in high school my biggest project was a discord bot I made in
            node.js. After I finished high school I've pretty fast picked up
            python, and it became the first language I properly learned and am
            comfortable working with.
          </p>
          <p>
            Right now I'm learning C so I can understand programming more
            deeply. I also picked up some more HTML and CSS so I could make this
            website.
          </p>
          <p>
            That is all for now but I'm sure there's a ton of exciting things I
            have yet to discover.
          </p>
        </div>
        <div class="test-img-r1">
          <img src="../static/images/discord_logo-freelogovectors.net_.png" />
        </div>
        <div class="test-img-r2">
          <img src="../static/images/python-programming-language.png" />
        </div>
      </div>
      <!--NEXT ITEM-->
      <div class="test-item-container">
        <div class="test-img-l1">
          <img src="../static/images/oa.png" />
        </div>
        <div class="test-img-l2">
          <img src="../static/images/mavo.png" />
        </div>
        <div class="test-subheader_1">
          Education, skills and other achievements
        </div>
        <div class="test-text_1">
          <ul class="abt-text_2-list">
            <li>
              <p>
                may 2020: Business Academy Vinohradská
                <a href="https://www.oavin.cz/">oavin.cz</a>
              </p>
            </li>
            <li>may 2021: Mavo certificate from english(B2)</li>
            <li>june 2021: CAE certificate from english(C1)</li>
            <li>Hopefuly more to come!</li>
          </ul>
        </div>
        <div class="test-img-r1">
          <img src="../static/images/CAE_cut.PNG" />
        </div>
        <div class="CAE-link">
          <a href="../static/pdf/StatementOfResult.pdf" download
            >CAE Statement of results download</a
          >
        </div>
      </div>
      <!--NEXT ITEM-->
      <div class="test-item-container">
        <div class="test-img-l1">
          <img src="../static/images/CAMP.jpg" />
        </div>
        <div class="test-img-l2">
          <img src="../static/images/math.jpeg" />
        </div>
        <div class="test-subheader_1">
          Hobbies, Interests and other facts about me
        </div>
        <div class="test-text_1">
          <ul>
            <li>
              <p>Hobbies:</p>
              <p>- Sports(Badminton, Wall climbing)</p>
              <p>- Amateur paleontology(since 2010)</p>
              <p>- Videogames(personal favorites: TF2, Elite:Dangerous)</p>
            </li>
            <li>
              <p>Interests:</p>
              <p>
                - Mathematics(Calculus of functions with multiple variables
                fascinates me)
              </p>
              <p>- Programming/Coding(Also a hobby)</p>
            </li>
            <li>
              <p>Other:</p>
              <p>
                - I have a cat, her name is Leeloo, she's named after one of the
                protagonists from the movie "The Fifth Element". I use her photo
                as my avatar on some sites. She loves jumping on the me during
                online calls and scaring the heck both of me and the person I'm
                calling to.
              </p>
              <p></p>
            </li>
          </ul>
        </div>
        <div class="test-img-r1">
          <img src="../static/images/Leeloo - kopie.jpg" />
        </div>
        <div class="test-img-r2">
          <img src="../static/images/Leeloo - kopie.jpg" />
        </div>
      </div>
      <!---->
    </div>
  </div>

  <!--END OF SCROLL CONTAINER-->

  <div class="about-Header_2">What I worked with so far</div>
  <!--lan-1-->
  <div class="lanname1">Python</div>
  <div class="lan-1">
    <img src="../static/images/python-programming-language.png" />
  </div>
  <div class="lan1-text">Snaek</div>
  <!--lan-2-->
  <div class="lanname2"><img src="../static/images/c-program.png" /></div>
  <div class="lan-2"><img src="../static/images/c-program.png" /></div>
  <div class="lan2-text">
    <p>
      <img src="../static/images/c-program.png" />urrently in development. I
      have some <img src="../static/images/c-program.png" /> scripts but I
      <img src="../static/images/c-program.png" />ant show them here, be<img
        src="../static/images/c-program.png"
      />ause they're very basic. So, more
      <img src="../static/images/c-program.png" /> s<img
        src="../static/images/c-program.png"
      />ripts <img src="../static/images/c-program.png" />oming soon!
    </p>
  </div>
  <!--lan-3-->
  <div class="lanname3">
    <div>HTML</div>
    <div>CSS</div>
    <div>JS</div>
  </div>
  <div class="lan-3">
    <div class="abt-html"><img src="../static/images/html.png" /></div>
    <div class="abt-css"><img src="../static/images/css.png" /></div>
    <div class="abt-js">
      <img src="../static/images/javascript-programming-language.png" />
    </div>
  </div>
  <div class="lan3-text">Web development</div>
  <!--lan-4-->
  <div class="lanname4">node.js</div>
  <div class="lan-4"><img src="../static/images/node-js.png" /></div>
  <div class="lan4-text">Fooling around with discord bot</div>
</div>
{% endblock %}
