{% extends "base.html" %} {% block title %} About {% endblock %} {% block
content%}
<div id="about-container">
  <div class="about-Header_1">About me</div>
  <!--1-->
  <div class="abt-img-l1">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-l2">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-subheader_1">subheader 1</div>
  <div class="about-text_1">text</div>
  <div class="abt-img-r1">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-r2">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <!--2-->
  <div class="abt-img-l3">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-l4">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-subheader_2">subheader 1</div>
  <div class="about-text_2">text</div>
  <div class="abt-img-r3">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-r4">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <!--1-->
  <div class="abt-img-l5">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-l6">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-subheader_3">subheader 1</div>
  <div class="about-text_3">text</div>
  <div class="abt-img-r5">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="abt-img-r6">
    <img src="../static/images/Leeloo - kopie.jpg" />
  </div>
  <div class="about-Header_2">Languages I've worked with so far</div>
  <!--lan-1-->
  <div class="lanname1">Python</div>
  <div class="lan-1">
    <img src="../static/images/python-programming-language.png" />
  </div>
  <div class="lan1-text">Snaek</div>
  <!--lan-2-->
  <div class="lanname2">C</div>
  <div class="lan-2"><img src="../static/images/c-program.png" /></div>
  <div class="lan2-text">Do you "C" this? :)</div>
  <!--lan-3-->
  <div class="lanname3">
    <div>HTML</div>
    <div>CSS</div>
    <div>JS</div>
  </div>
  <div class="lan-3">
    <div class="abt-html"><img src="../static/images/html.png" /></div>
    <div class="abt-css"><img src="../static/images/css.png" /></div>
    <div class="abt-js">
      <img src="../static/images/javascript-programming-language.png" />
    </div>
  </div>
  <div class="lan3-text">Web development</div>
  <!--lan-4-->
  <div class="lanname4">node.js</div>
  <div class="lan-4"><img src="../static/images/node-js.png" /></div>
  <div class="lan4-text">Fooling around with discord bot</div>
</div>
{% endblock %}
