<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bare necessities /-->

    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/slide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="static/css/projects.css" />
    <link rel="stylesheet" type="text/css" href="static/css/contact.css" />
    <link rel="stylesheet" type="text/css" href="static/css/about.css" />
    <link rel="stylesheet" type="text/css" href="static/css/scrollbar.css" />
    <!-- CSS /-->

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <h1 class="slide-right"><div class="sklenik">Sklenik</div></h1>

        <div class="menu">
          <a id="home" href="/">Home</a>
          <a id="about" href="/about">About</a>
          <a id="projects" href="/projects">Projects</a>
          <a id="contact" href="/contact">Contact</a>
        </div>

        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>
    <!-- page content /-->

    <footer class="footer">
      <a href="mailto:filip1904@seznam.cz">filip1904@seznam.cz</a>

      <div class="footer-subcontainer">
        <a href="https://stackoverflow.com/users/17351121/sklenik"
          ><img src="../static/images/stackoverflow.png"
        /></a>

        <a href="https://github.com/Sklenik"
          ><img
            class="footer-github"
            src="../static/images/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png"
        /></a>

        <a href="https://replit.com/@Sklenik"
          ><img src="../static/images/output-onlinepngtools.png"
        /></a>
      </div>

      <div>© Copyright 2022 Filip Sklenář</div>
    </footer>
    <!-- footer -->

    <script src="static/js/main.js"></script>
    <!-- some javascript toomfoolery /-->
  </body>
</html>
