{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}
<main class="main_home">
  <div class="home-container">
    <div class="Header"><h1>Welcome to my website</h1></div>
    <div class="Image"><embed src="../static/images/Leeloo - kopie.jpg" /></div>
    <div class="Image-des">This is Leeloo, my cat.</div>
    <div class="Text">
      I am an ambitious begginer programmer, with almost a year of experience in
      python and other languages like C, and HTML. I also know very little
      Javascript and some CSS. Sklenik is my nick, derived from my surname.
    </div>
    <div class="Header2"><h2>My projects</h2></div>
    <div class="projname1"><h2>Python Invaders</h2></div>
    <div class="projname2"><h2>This website</h2></div>
    <div class="proj-1"></div>
    <div class="proj2"></div>
    <div class="proj1-text">
      Simple game made in python with the usage of Turtle module.
    </div>
    <div class="proj2-text">
      My biggest project yet, basic website made with flask, javascript, HTML
      and a LOT of custom CSS.
    </div>
    <div class="Footer">
      <div>© Copyright 2022 Filip Sklenář</div>
      <div>filip1904@seznam.cz</div>
      <a href="https://github.com/Sklenik">https://github.com/Sklenik</a>
    </div>
  </div>
</main>
{% endblock %}
