{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}
<div class="home-container">
  <div class="home-Header_1">Welcome to my website!</div>
  <div class="home-subcontainer">
    <div class="Image"><img src="../static/images/Leeloo - kopie.jpg" /></div>
    <div class="Image-des">Leeloo</div>
    <div class="home-intro-text">
      <div>
        Hi! I am Filip, an ambitious beginner programmer who loves learning new
        things and always does his best to complete the task.
      </div>
      <div>
        I have almost an year of experience in Python, in which I made some
        interesting projects. Even this website uses some Python, as it runs
        thanks to flask framework.
      </div>
      <div>
        Check
        <a id="about" class="H_button_1" href="/about">About</a> for more info
        about me, or
        <a id="projects" class="H_button_2" href="/projects">Projects</a>
        if you want to see what I can do.
      </div>
    </div>
  </div>
</div>
{% endblock %}
