{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}
<div class="home-container">
  <div class="Header">Welcome to my website!</div>
  <div class="home-subcontainer">
    <div class="Image"><img src="../static/images/Leeloo - kopie.jpg" /></div>
    <div class="Image-des">Leeloo</div>
    <div class="home-intro-text">
      <div class="hit">
        I am an ambitious beginner programmer who loves learning new things and
        always tries his best to complete the task.
      </div>
      <div class="hit">
        I am good with python and I also know some HTML and CSS, both of whitch
        I picked up while making this website.
      </div>
      <div class="hit">
        Honorable mentions of my programming knowledge are node.js and working
        with gamemaker studio, although I am not using neither of them right
        now.
      </div>
      <div class="hit">Sklenik is my nick, derived from my surname.</div>
    </div>
  </div>
</div>
{% endblock %}
