{% extends "base.html" %} {% block title %} Projects {% endblock %} {% block
content%}
<div class="projects-container">
  <div class="Header2">My projects</div>
  <div class="projname1">Python Invaders</div>
  <div class="projname2">This website</div>
  <div class="proj-1"><img src="../static/images/pynvaders.png" /></div>
  <div class="proj-2"><img src="../static/images/sklenweb.png" /></div>
  <div class="proj1-text">
    Simple game made in Python with the usage of the Turtle module.
  </div>
  <div class="proj2-text">
    My biggest project yet, basic website made with flask, javascript, HTML and
    a LOT of custom CSS.
  </div>
</div>
{% endblock %}
