{% extends "base.html" %} {% block title %} Projects {% endblock %} {% block
content%}
<div class="projects-container">
  <div class="proj-header_1">My projects</div>
  <div class="projname1">Python Invaders</div>
  <div class="projname2">This website</div>
  <div class="proj-1"><img src="../static/images/pynvaders.png" /></div>
  <div class="proj-2"><img src="../static/images/sklenweb.png" /></div>
  <div class="proj1-text">
    Simple game made in Python with the usage of the Turtle module.
  </div>
  <div class="proj2-text">
    My biggest project yet, basic website made with flask, javascript, HTML and
    a LOT of custom CSS.
  </div>
  <div class="scr-header_1">Smaller projects and/or scripts</div>
  <!--scr1-->
  <div class="scrname1">Andrej bot</div>
  <div class="scr-1">Script1</div>
  <div class="scr1-text">Script1 Text</div>
  <!--scr2-->
  <div class="scrname2">C</div>
  <div class="scr-2">Script2</div>
  <div class="scr2-text">Script2 Text</div>
  <!--scr3-->
  <div class="scrname3">Database</div>
  <div class="scr-3">Script3</div>
  <div class="scr3-text">Script3 Text</div>
  <!--scr4-->
  <div class="scrname4">Python Pandas</div>
  <div class="scr-4">Script4</div>
  <div class="scr4-text">Script4 Text</div>
  <!--scr5-->
  <div class="scrname5">Python Numpy</div>
  <div class="scr-5">Script5</div>
  <div class="scr5-text">Script5 Text</div>
  <!--scr6-->
  <div class="scrname6">MatPloLib</div>
  <div class="scr-6">Script6</div>
  <div class="scr6-text">Script6 Text</div>
  <!---->
  <div class="proj_visit_github">
    Visit my
    <a class="P_button_1" href="https://github.com/Sklenik">github</a> for
    source code
  </div>
</div>
{% endblock %}
