{% extends "base.html" %} {% block title %} Projects {% endblock %} {% block
content%}
<div class="projects-container">
  <div class="proj-header_1">My projects</div>
  <div class="projname1">Python Invaders</div>
  <div class="projname2">This website</div>
  <div class="proj-1"><img src="../static/images/pynvaders.png" /></div>
  <div class="proj-2"><img src="../static/images/sklenweb.png" /></div>
  <div class="proj1-text">
    <ul>
      <li>My first project</li>
      <li>A slight modification of the 1978 "SPACE INVADERS"</li>
      <li>
        I used python 3.9 and python turtle module, also winsound module to play
        sounds
      </li>
    </ul>
    <div><a href="https://github.com/Sklenik/Python-Invaders">github</a></div>
  </div>
  <div class="proj2-text">
    <ul>
      <li>My biggest project yet</li>
      <li>Basic website with pages that use flask templates</li>
      <li>Made with Python flask, HTML, CSS, and a bit of javascript</li>
      <li>
        Thanks to this project I learned the fundamentals of HTML and CSS,
        looked into some more javascript and learned some flask basics.
      </li>
    </ul>
    <div><a href="https://github.com/Sklenik/WEB">github</a></div>
  </div>
  <div class="scr-header_1">Smaller projects and/or scripts</div>
  <!--scr1-->
  <div class="scrname1">
    Andrej bot <img src="../static/images/motyle2.jpg" />
  </div>
  <div class="scr-1">
    <img src="../static/images/toppng.com-discordbot-bot-discord-402x290.png" />
  </div>
  <div class="scr1-text">
    <ul>
      <li>
        Simple discord bot that listens and responds to basic commands with
        messages or embeds.
      </li>
      <li>
        Made in javascript in the node.js runtime, with the usage of discord
        libraries and the discord bot API.
      </li>
    </ul>
  </div>
  <div class="scr1-link">
    <a href="https://github.com/Sklenik/AndrejBot">source code</a>
  </div>
  <!--scr2-->
  <div class="scrname2">C</div>
  <div class="scr-2"><img src="../static/images/c-program.png" /></div>
  <div class="scr2-text">
    Currently working on, check github, I might've uploaded something.
  </div>
  <div class="scr2-link">check github</div>
  <!--scr3-->
  <div class="scrname3">Python Pandas</div>
  <div class="scr-3"><img src="../static/images/pandas_mark.svg" /></div>
  <div class="scr3-text">
    Currently working on, check github, I might've uploaded something.
  </div>
  <div class="scr3-link">check github</div>
  <!--scr4-->
  <div class="scrname4">Int-to-Roman converter</div>
  <div class="scr-4">
    <div>1</div>
    <div>&#10142;</div>
    <div>I</div>
  </div>
  <div class="scr4-text">
    <ul>
      <li>
        If a number is provided as an input, the program converts it to roman
        numerals.
      </li>
      <li>Made in pure python 3.9</li>
    </ul>
  </div>
  <div class="scr4-link">
    <a href="https://github.com/Sklenik/Int-to-Roman-converter">source code</a>
  </div>
  <!--scr5-->
  <div class="scrname5">Difference between dates</div>
  <div class="scr-5"><img src="../static/images/reschedule-date.png" /></div>
  <div class="scr5-text">
    <ul>
      <li>
        Takes two dates as an input and calculates the difference between them.
      </li>
      <li>Made in python 3.9 with the time module.</li>
    </ul>
  </div>
  <div class="scr5-link">
    <a href="https://github.com/Sklenik/date_substractor">source code</a>
  </div>
  <!--scr6-->
  <div class="scrname6">Caesar cracker of partially decrypted words</div>
  <div class="scr-6">
    <div>xUbbemehbT</div>
    <div>&#10142;</div>
    <div>HelloWorld</div>
  </div>
  <div class="scr6-text">
    <ul>
      <li>
        If provided an encrypted and partially encrypted word, it almost
        perfectly decrypts the word.
      </li>
      <li>Made in pure python 3.9.</li>
    </ul>
  </div>
  <div class="scr6-link">
    <a href="https://github.com/Sklenik/Caesar">source code</a>
  </div>
  <!---->
  <div class="proj_visit_github">
    Visit my
    <a class="P_button_1" href="https://github.com/Sklenik">github</a> for
    source code
  </div>
</div>
{% endblock %}
